/* tashuView.css */
.tashu-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 350px; /* 팝업창을 세로로 길게 조정 */
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* 이미지와 텍스트 사이에 간격을 주고 위에 붙입니다 */
    border-radius: 10px;
    backdrop-filter: blur(10px);
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .tashu-view-title {
    font-weight: bold;
    font-size: 28px; /* "자세히 알아보기" 텍스트를 크게 표시합니다 */
    margin-bottom: 20px; /* 이미지와 텍스트 사이에 간격을 줍니다 */
  }
  
  .tashu-view-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px; /* 닫기 버튼 텍스트를 크게 표시합니다 */
    width: 75%; /* 팝업창의 75% 비율로 닫기 버튼이 차지하도록 설정합니다 */
    height: auto;
    background-color: lightblue; /* 연한 파란색으로 배경색을 설정합니다 */
  }
  
  .tashu-view-description {
    font-size: 20px; /* address 텍스트를 description 텍스트보다 크게 표시합니다 */
    margin-top: 20px; /* 텍스트와 이미지 사이에 간격을 줍니다 */
  }
  
  .tashu-view-address{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
  }

  .tashu-view-btn {
    background-color: blue;
    color: white;
    padding: 10px 20px; /* 버튼의 패딩을 키워 텍스트가 더 크게 표시되도록 합니다 */
    border-radius: 5px;
    cursor: pointer;
    margin-top: 45px;
    width: 100%;
    font-size: 20px;   
  }
  
  .hidden {
    display: none;
  }
  